<!-- ==========Rank Add Modal======== -->

<ng-template #modalDesignation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Rank Information</h4>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="mb-2 row">
        <label for="DesignationName" class="col-md-5 col-form-label">Rank Name</label>
        <div class="col-md-7">
          <input id="DesignationName" class="form-control" type="text"
            [(ngModel)]="selectedDesignation.designationName">
        </div>
      </div>
      <div class="mb-2 row">
        <label for="DesignationNameBangla" class="col-md-5 col-form-label">Rank Name (বাংলা)</label>
        <div class="col-md-7">
          <input id="DesignationNameBangla" class="form-control" type="text"
            [(ngModel)]="selectedDesignation.designationNameBangla">
        </div>
      </div>
      <!-- <div class="mb-2 row">
        <label for="DesignationNameBangla" class="col-md-5 col-form-label">Wing Name</label>
        <div class="col-md-7">
          <select class="form-select" name="" id=""  [(ngModel)]="selectedDesignation.departmentID">
            <option *ngFor="let obj of lstDepartment" [value]="obj.departmentID">{{obj.departmentName}}</option>
          </select>
        </div>
      </div> -->

      <div class="mb-2 row">
        <label for="orderNo" class="col-md-5 col-form-label">Order</label>
        <div class="col-md-7">
          <input id="orderNo" class="form-control" type="number" [(ngModel)]="selectedDesignation.orderNo">
        </div>
      </div>
      <div class="mb-2 row">
        <label for="Status" class="col-md-5 col-form-label">Status</label>
        <div class="col-md-7">
          <div class="form-check form-switch form-switch-md mb-3">
            <input class="form-check-input" type="checkbox" [(ngModel)]="selectedDesignation.isActive" id="Status"
              checked>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modalClose()"><i class="fas fa-times"></i>
      Close</button>
    <button type="button" *ngIf="!selectedDesignation.designationID" class="btn btn-success"
      (click)="saveDesignation()"><i class="fas fa-save"></i>
      Save</button>
    <button type="button" *ngIf="selectedDesignation.designationID>0" class="btn btn-success"
      (click)="updateDesignation()"><i class="fas fa-check"></i>
      Update</button>
  </div>
</ng-template>
<!-- ==========Rank Add Modal======== -->

<div class="container-fluid">
  <app-page-title title="RANK List"></app-page-title>
  <div class="row">
    <div class="col-md-10 my-1">
      <button (click)="addDesignation()" class="btn btn-success me-1"><i class="fa fa-edit"></i> Add New</button>
      <button *ngIf="selectedDesignation.designationID > 0" (click)="editDesignation()" class="btn btn-primary mx-1"><i
          class="fa fa-edit"></i> Edit Rank</button>
      <button (click)="deleteDesignation()" *ngIf="selectedDesignation.designationID > 0" class="btn btn-danger mx-1"><i
          class="fa fa-minus"></i> Delete</button>
      <!-- <button (click)="updateOrder()" class="btn btn-dark mx-1"><i class="fa fa-check"></i> Update Order</button> -->
      <button (click)="onBtnExport()" class="btn btn-outline-info mx-1"><i class="fas fa-file-excel"></i> Excel</button>
    </div>

    <div class="col-lg-12">
      <ag-grid-angular style="width: 100%; height: 75vh;" class="ag-theme-alpine" [rowData]="lstDesignation"
        [columnDefs]="columnDefs" [gridOptions]="gridOptions" (selectionChanged)="onSelect()"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>