<!-- ==========Notification Edit Modal======== -->
<ng-template #modalEditNotificationArea let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Notification Information</h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="mb-2 row">
                <label for="notificationAreaName" class="col-md-3 col-form-label">Notification Area Name</label>
                <div class="col-md-9">
                    <input id="notificationAreaName" class="form-control" type="text"
                        [(ngModel)]="objNotificationArea.notificationAreaName">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="notificationBody" class="col-md-3 col-form-label">Notification Type</label>
                <div class="col-md-9">
                    <select class="form-select" [(ngModel)]="objNotificationArea.notificationType">
                        <option value="0">Select</option>
                        <option *ngFor="let ntype of lstNotificationType" value="{{ntype.id}}">{{ntype.name}}</option>
                    </select>
                </div>
            </div>
            <div class="mb-2 row">
                <label for="notificationBody" class="col-md-3 col-form-label">Notification Body</label>
                <div class="col-md-9">
                    <textarea name="" id="notificationBody" class="form-control"
                        [(ngModel)]="objNotificationArea.notificationBody"></textarea>
                </div>
            </div>
            <div class="mb-2 row">
                <label for="ExpireTime" class="col-md-3 col-form-label">Expire Time</label>
                <div class="col-md-9">
                    <input id="ExpireTime" class="form-control" type="number" value="6"
                        [(ngModel)]="objNotificationArea.expireTime">
                </div>
            </div>


            <div class="mb-2 row">
                <label for="isActive" class="col-md-5 col-form-label">Status</label>
                <div class="col-md-7">
                    <div class="form-check form-switch form-switch-md mb-3">
                        <input class="form-check-input" type="checkbox" id="isActive"
                            [(ngModel)]="objNotificationArea.isActive">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modalClose()"><i class="fas fa-times"></i>
            Close</button>
        <button type="button" (click)="save()" type="submit" *ngIf="!objNotificationArea.notificationAreaID"
            class="btn btn-success"><i class="fas fa-save"></i>
            Save</button>
        <button type="button" type="submit" (click)="update()" *ngIf="objNotificationArea.notificationAreaID>0"
            class="btn btn-success"><i class="fas fa-save"></i>
            Update</button>

    </div>
</ng-template>
<!-- ==========Notification Add Modal======== -->

<div class="container-fluid">
    <app-page-title title="Notification Information List"></app-page-title>

    <div class="row">
        <div class="col-md-12">
            <div class="row my-2">
                <div class="col-md-9 ">
                    <button (click)="add()" class="btn btn-success me-1"><i class="fa fa-plus"></i> Add New</button>
                    <button *ngIf="selectedNotification.notificationAreaID > 0" (click)="edit()"
                        class="btn btn-primary mx-1"><i class="fa fa-edit"></i> Edit Notification Information</button>
                    <button *ngIf="selectedNotification.notificationAreaID > 0" (click)="remove()"
                        class="btn btn-danger mx-1"><i class="fa fa-minus"></i> Delete Notification Information</button>
                    <button (click)="onBtnExport()" class="btn btn-outline-dark mx-1"><i class="fas fa-file-excel"></i>
                        Excel</button>
                </div>
                <div class="col-md-3 text-end">
                    <a class="btn btn-outline-info"> Total Entry <span
                            class="badge bg-secondary p-2 mb-0">{{lstNotificationArea.length}}</span></a>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <ag-grid-angular style="width: 100%; height: 75vh;" class="ag-theme-alpine" [rowData]="lstNotificationArea"
                [columnDefs]="columnDefs" [gridOptions]="gridOptions" (selectionChanged)="onSelect()"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </div>
    </div>
</div>