<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/feature/dashboard" class="logo logo-dark">
          <span class="logo-sm">
            <!-- <img src="../../../assets/images/pioms/header-logo.png" alt="" style="height: 50px;"> -->
          </span>
          <span class="logo-lg">
            <!-- <img src="../../../assets/images/pioms/header-logo.png" alt="" style="height: 50px;"> -->
          </span>
        </a>

        <a routerLink="/feature/dashboard" class="logo logo-light">
          <span class="logo-sm">
            <img style="background-color: #fff;padding: 1px;" src="../../../assets/images/pioms/header-logo.png" alt="" style="height: 50px;">
          </span>
          <span class="logo-lg">
            <!-- <img src="../../../assets/images/pioms/header-logo.png" alt="" style="height: 50px; "> -->
          </span>
        </a>
        
      </div>

      <!-- <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn"
        (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button> -->

      <!-- App Search-->
      <!-- <form class="app-search d-none d-xl-block">
        <div class="position-relative">
          <input type="text" class="form-control" placeholder="{{'HEADER.SEARCH' | translate}}">
          <span class="bx bx-search-alt"></span>
        </div>
      </form> -->
      <div class="text-start">
        <!-- <h2 class="mb-0 animate-charcter " style=" color: #2a3042;"><span style="color: red;">T</span><span style="color: green;">C</span><span style="color: blue;">R</span><span style="color: black;">S</span></h2> -->
        <!-- <h2 class="mb-0 text-light ms-3 animate-charcter" style="font-weight: 700;margin-top: 15px;"><span style="color: red;">I</span><span style="color: green;">F</span><span style="color: blue;">B</span><span style="color: black;">I</span> <span style="color: black;">C</span></h2> -->
       </div>
    </div>
    

    <div class="d-flex">
      <div class="dropdown d-inline-block d-lg-none ms-2" ngbDropdown>
        <button type="button" class="btn header-item noti-icon" id="page-header-search-dropdown" data-toggle="dropdown"
          aria-haspopup="true" ngbDropdownToggle aria-expanded="false">
          <i class="mdi mdi-magnify"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" ngbDropdownMenu
          aria-labelledby="page-header-search-dropdown">
          <form class="p-3">
            <div class="m-0">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>



      <div class="dropdown d-none d-lg-inline-block ms-1">
        <button type="button" class="btn header-item noti-icon text-light" data-toggle="fullscreen" (click)="fullscreen()">
          <i class="bx bx-fullscreen text-light"></i>
        </button>
      </div>

      <div class="dropdown d-inline-block" ngbDropdown>
        <button type="button" class="btn header-item" ngbDropdownToggle id="page-header-user-dropdown">
          <img class="rounded-circle header-profile-user" src="{{userImage}}" alt="IMG">
          <span class="d-none d-xl-inline-block ms-1 text-light">{{userName}}</span>
          <i class="mdi mdi-chevron-down d-none d-xl-inline-block text-light"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>

          <a routerLink="/settings/user/change-password" class="dropdown-item d-block" href="javascript: void(0);"> <i class="bx bx-key font-size-16 align-middle me-1"></i>
            Change Password </a>
          <!-- item-->
          <!-- <a class="dropdown-item" routerLink="/contacts/profile"><i class="bx bx-user font-size-16 align-middle me-1"></i>
            {{ 'HEADER.LOGIN.PROFILE' | translate}}</a>
         
          <a class="dropdown-item d-block" href="javascript: void(0);"> <i class="bx bx-cog font-size-16 align-middle me-1"></i>
            {{'HEADER.LOGIN.SETTINGS' | translate}} </a> -->
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()"><i
              class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
            {{ 'HEADER.LOGIN.LOGOUT' | translate}}</a>
        </div>
      </div>



    </div>
  </div>
</header>