<div class="container-fluid">
    <app-page-title title="User DPZ Map"></app-page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-1">
                <div class="card-body p-3">
                    <!-- <h4 class="card-title">Create User</h4> -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-1 row">
                                <label for="Users" class="col-md-3 col-form-label text-end">Department </label>
                                <div class="col-md-9">
                                    <select class="form-select" [(ngModel)]="selectedDepartmentID" id="Users" (change)="getAllByDepartmentID()">
                                        <option value="0">Select Any</option>
                                        <option *ngFor="let department of lstDepartment"
                                            value="{{department.departmentID}}">
                                            {{department.departmentName}}</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-1 row">
                                <label for="Users" class="col-md-3 col-form-label text-end">User Name</label>
                                <div class="col-md-9">
                                    <select class="form-select" id="Users" [(ngModel)]="selectedUserDpzMap.userID"
                                        [disabled]="selectedUserDpzMap.userDPZMapID > 0" (change)="onChangeUser()">
                                        <option value="0">Select Any</option>
                                        <option *ngFor="let user of lstUser" value="{{user.userAutoID}}">
                                            {{user.userFullName}}</option>
                                    </select>

                                </div>
                            </div>
                            <div class="row mt-0">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div >
                                        <div class="mb-0 row">
                                            <label 
                                                class="col-md-12 col-form-label ">Name Bangla :
                                                <span *ngIf="selectedUser.userFullNameBangla">{{selectedUser.userFullNameBangla}} </span> </label>
                                        </div>
                                        <div class="mb-0 row">
                                            <label 
                                                class="col-md-12 col-form-label">Department :
                                                <span *ngIf="selectedUser.departmentName || selectedUser.departmentNameBangla">{{selectedUser.departmentName}} </span> <span
                                                    *ngIf="selectedUser.departmentNameBangla">({{selectedUser.departmentNameBangla}})</span></label>
                                        </div>
                                        <div class="mb-3 row">
                                            <label 
                                                class="col-md-12 col-form-label">Designation :
                                                <span *ngIf="selectedUser.designationName || selectedUser.designationNameBangla">{{selectedUser.designationName}} <span
                                                        *ngIf="selectedUser.designationNameBangla">({{selectedUser.designationNameBangla}})</span></span></label>
                                            <!-- <div class="col-md-8">
                                                <label for=""><strong>{{selectedUser.designationID}}</strong></label>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div style="text-align: right;">
                                        <p><img [src]="selectedUser.userImagePreview" alt="User Image"  style=" height: 90px; border: 1px solid #000; display: block; margin-top: 5px; margin-right: 0;"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class=" mb-1 row">
                                <label for="DPZ" class="col-md-3 col-form-label text-end">DPZ </label>
                                <div class="col-md-9">
                                    <select class="form-select" id="DPZ" [(ngModel)]="selectedUserDpzMap.dpzid"
                                        (change)="onChangeDPZ()" [disabled]="selectedUserDpzMap.userDPZMapID > 0">
                                        <option value="0" selected>Select Any</option>
                                        <option *ngFor="let dpz of lstDpz" value="{{dpz.dpzid}}">
                                            {{dpz.dpzName}} <span>({{dpz.dpzNameBangla}})</span></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-2">
                            <div class="mb-1 row">
                                <label *ngIf="selectedDPZ.mouzaName"
                                    class="col-md-12 col-form-label ">Mouza :
                                    <span>{{selectedDPZ.mouzaName}}</span> <span *ngIf="selectedDPZ.mouzaNameBangla"> ( {{selectedDPZ.mouzaNameBangla}} )</span> </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-1 row">
                                <label *ngIf="selectedDPZ.thanaName"
                                    class="col-md-12 col-form-label ">Thana :
                                    <span>{{selectedDPZ.thanaName}}</span><span *ngIf="selectedDPZ.thanaNameBangla"> ( {{selectedDPZ.thanaNameBangla}} )</span> </label>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class=" row">
                                <label for="FromDate" class="col-md-3 col-form-label text-end">Date </label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" type="date" id="example-date-input"
                                                [ngModel]="selectedUserDpzMap.fromDate | date:'yyyy-MM-dd'"
                                                (ngModelChange)="selectedUserDpzMap.fromDate = $event">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" type="date" id="example-date-input"
                                                [ngModel]="selectedUserDpzMap.toDate | date:'yyyy-MM-dd'"
                                                (ngModelChange)="selectedUserDpzMap.toDate = $event">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <label for="IsActive" class="col-md-3 col-form-label text-end">Is Active </label>
                                <div class="col-md-9">
                                    <div class=" mt-2">
                                        <input class="form-check-input" [(ngModel)]="selectedUserDpzMap.isActive"
                                            type="checkbox" id="remember-check">
                                        <!-- <span class="ms-2">Is Active</span> -->

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-3">
                            <div class="mb-3 row">
                                <label for="FromDate" class="col-md-3 col-form-label text-center">To Date </label>
                                
                            </div>
                        </div> -->

                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12 text-end">
                                    <button class="btn btn-info me-2" (click)="reset()"><i
                                            class="bx bx-rotate-left"></i> Reset</button>
                                    <button class="btn btn-success" *ngIf="selectedUserDpzMap.userDPZMapID == undefined"
                                        (click)="Save()"><i class="fa fa-save"></i>
                                        Save</button>
                                    <button class="btn btn-success" *ngIf="selectedUserDpzMap.userDPZMapID > 0"
                                        (click)="update()"><i class="fa fa-save"></i>
                                        Update</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-1">
                <div class="card-body p-3">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 my-1">
                                <button *ngIf="onSelectUserDpzMap.userDPZMapID > 0" (click)="editUserDpzMap()"
                                    class="btn btn-primary mx-1"><i class="fa fa-edit"></i> Edit</button>
                                <button *ngIf="onSelectUserDpzMap.userDPZMapID > 0" (click)="deleteMap()"
                                    class="btn btn-danger mx-1"><i class="fa fa-trash"></i> Delete</button>

                            </div>
                            <div class="col-md-6 my-1">
                                <div class="text-end">
                                    <button (click)="onBtnExport()" class="btn btn-outline-info mx-1"><i
                                            class="fas fa-file-excel"></i> Excel</button>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <ag-grid-angular style="width: 100%; height: 75vh;" class="ag-theme-alpine"
                                    [rowData]="lstUserDpzMap" [columnDefs]="columnDefs" [gridOptions]="gridOptions"
                                    (selectionChanged)="onSelect()" (gridReady)="onGridReady($event)">
                                </ag-grid-angular>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>