<div class="container-fluid">
  <app-page-title title="Change Password"></app-page-title>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-5">
          <div class="change-password-form">
            <div class="mb-2 row" *ngIf="errorMessage && errorMessage == null">
              <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{errorMessage}}
                  <a class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="mb-2 row">
              <label for="DesignationName" class="col-md-3 col-form-label">Old Password</label>
              <div class="col-md-9">
                <input id="DesignationName" class="form-control" (change)="isValid()" type="password"
                  [(ngModel)]="objUser.password">
              </div>
            </div>
            <div class="mb-2 row">
              <label for="DesignationName" class="col-md-3 col-form-label">New Password</label>
              <div class="col-md-9">
                <div class="input-group auth-pass-inputgroup">
                  <input id="DesignationName" class="form-control" (change)="isValid()" [type]="UserPassword" 
                  [(ngModel)]="objUser.newPassword">

                  <button (click)="newPasswordToggle()" class="btn btn-light ms-0 input-group-btn" type="button"
                    id="password-addon">
                    <i class="fa fa-eye" aria-hidden="true" *ngIf="showPass"></i>
                    <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!showPass"></i>
                  </button>
                  
                </div>

                <!-- <input id="DesignationName" class="form-control" (change)="isValid()" type="password"
                  [(ngModel)]="objUser.newPassword"> -->
              </div>
            </div>
            <div class="mb-2 row">
              <label for="DesignationName" class="col-md-3 col-form-label">Confirm Password</label>
              <div class="col-md-9">
                <div class="input-group auth-pass-inputgroup">
                  <input id="DesignationName" class="form-control" (change)="isValid()" [type]="confirmUserPassword" 
                  [(ngModel)]="objUser.confirmPassword">

                  <button (click)="confirmPasswordToggle()" class="btn btn-light ms-0 input-group-btn " type="button"
                    id="password-addon">
                    <i class="fa fa-eye" aria-hidden="true" *ngIf="confirmShowPass"></i>
                    <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!confirmShowPass"></i>
                  </button>
                  
                </div>

                <!-- <input id="DesignationName" class="form-control" (change)="isValid()" type="password"
                  [(ngModel)]="objUser.confirmPassword"> -->
              </div>
            </div>
            <div class="mb-2 row" *ngIf="errorMessage && errorMessage != null">
              <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{errorMessage}}
                  <a class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="mb-2 row">
              <div class="col-md-12">
                <div class="text-end">
                  <button class="btn btn-primary" (click)="changePassword()"
                    [disabled]="isValid()==false">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>