<div class="container-fluid">
  <div class="dashboard-welcome-area">
    <div class="welcome-image">
      <img src="../../../../assets/images/helloct/dashboard-top.png" alt="">
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <h4 class="welcome-text pt-2"> Workflow Management System</h4>
      </div>
      <div class="col-md-6">
        <!-- <div class="text-end">
          <button type="button" class="btn btn-warning position-relative fs-4">
            <i class="bx bxs-bell-ring base-color"></i>
            Notification
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              9
            </span>
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="mini-card-group p-1">
    <div class="row">
      <div class="col">
        <div class="card mini-stats-wid">
          <div class="card-body">
            <div class="media">
              <div class="">
                <!-- <img src="../../../../assets/images/helloct/dashboard/card/card1.png" alt=""> -->
              </div>
              <div class="media-body text-center">
                <!-- <h4 class="count-box-title mt-1">Total Request</h4> -->
                <!-- <h3 class="mb-0">{{textFilterService.englishToBanglaDigit(totalComplain)}}</h3> -->
                <!-- <h3 class="mb-0 clickable" (click)="goToToalNewComplain(jcDepartmentID,7)">{{textFilterService.englishToBanglaDigit(totalComplain)}}</h3> -->
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mini-stats-wid">
          <div class="card-body">
            <div class="media">
              <div class="">
                <!-- <img src="../../../../assets/images/helloct/dashboard/card/card3.png" alt=""> -->
              </div>
              <div class="media-body text-center">
                <!-- <h4 class="count-box-title mt-1">Processing Requesting</h4> -->
                <!-- <h3 class="mb-0">{{textFilterService.englishToBanglaDigit(totalInAction)}}</h3> -->
                <!-- <h3 class="mb-0 clickable" (click)="goToToalNewComplain(jcDepartmentID,2)">{{textFilterService.englishToBanglaDigit(totalInAction)}}</h3> -->
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mini-stats-wid">
          <div class="card-body">
            <div class="media">
              <div class="">
                <!-- <img src="../../../../assets/images/helloct/dashboard/card/card2.png" alt=""> -->
               
              </div>
              <div class="media-body text-center">
                <!-- <h4 class="count-box-title mt-1">Complete Request</h4> -->
                <!-- <h3 class="mb-0">{{textFilterService.englishToBanglaDigit(totalSolved)}}</h3> -->
                <!-- <h3 class="mb-0 clickable" (click)="goToToalNewComplain(jcDepartmentID,4)">{{textFilterService.englishToBanglaDigit(totalSolved)}}</h3> -->
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mini-stats-wid">
          <div class="card-body">
            <div class="media">
              <div class="">
                <!-- <img src="../../../../assets/images/helloct/dashboard/card/card4.png" alt=""> -->
              </div>
              <div class="media-body text-center">
                <!-- <h4 class="count-box-title mt-1">Waiting for Response</h4> -->
                <!-- <h3 class="mb-0">{{textFilterService.englishToBanglaDigit(totalPending)}}</h3> -->
                <!-- <h3 class="mb-0 clickable" (click)="goToToalNewComplain(jcDepartmentID,3)">{{textFilterService.englishToBanglaDigit(totalPending)}}</h3> -->
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mini-stats-wid">
          <div class="card-body">
            <div class="media">
              <div class="">
                <!-- <img src="../../../../assets/images/helloct/dashboard/card/card4.png" alt=""> -->
              </div>
              <div class="media-body text-center">
                <!-- <h4 class="count-box-title mt-1">Rejectd/Canceled</h4> -->
                <!-- <h3 class="mb-0">{{textFilterService.englishToBanglaDigit(totalOverDue)}}</h3> -->
                <!-- <h3 class="mb-0 clickable" (click)="goToToalNewComplain(jcDepartmentID,8)">{{textFilterService.englishToBanglaDigit(totalOverDue)}}</h3> -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>