<!-- ==========Department Add Modal======== -->

<ng-template #modalDepartment let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Department Information</h4>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="mb-2 row">
          <label for="DepartmentName" class="col-md-5 col-form-label">Department Name</label>
          <div class="col-md-7">
            <input id="DepartmentName" class="form-control" type="text" [(ngModel)]="selectedDepartment.departmentName">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="DepartmentNameBangla" class="col-md-5 col-form-label">Department Name (বাংলা)</label>
          <div class="col-md-7">
            <input id="DepartmentNameBangla" class="form-control" type="text" [(ngModel)]="selectedDepartment.departmentNameBangla">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="orderNo" class="col-md-5 col-form-label">Order</label>
          <div class="col-md-7">
            <input id="orderNo" class="form-control" type="number" [(ngModel)]="selectedDepartment.orderNo">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="Status" class="col-md-5 col-form-label">Status</label>
          <div class="col-md-7">
            <div class="form-check form-switch form-switch-md mb-3">
              <input class="form-check-input" type="checkbox" [(ngModel)]="selectedDepartment.isActive"
                id="Status" checked>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modalClose()"><i class="fas fa-times"></i>
        Close</button>
      <button type="button" *ngIf="!selectedDepartment.departmentID" class="btn btn-success" (click)="saveDepartment()"><i class="fas fa-save"></i>
        Save</button>
      <button type="button" *ngIf="selectedDepartment.departmentID>0"  class="btn btn-success" (click)="updateDepartment()"><i class="fas fa-check"></i>
        Update</button>
    </div>
  </ng-template>
  <!-- ==========Department Add Modal======== -->
  
  <div class="container-fluid">
    <app-page-title title="Department List"></app-page-title>
    <div class="row">
      <div class="col-md-10 my-1">
        <button (click)="addDepartment()" class="btn btn-success me-1"><i class="fa fa-plus"></i> Add New</button>
        <button *ngIf="selectedDepartment.departmentID > 0" (click)="editDepartment()" class="btn btn-primary mx-1"><i
            class="fa fa-edit"></i> Edit Wing</button>
        <button (click)="deleteDepartment()" *ngIf="selectedDepartment.departmentID > 0" class="btn btn-danger mx-1"><i class="fa fa-minus"></i> Delete</button>
        <!-- <button (click)="updateOrder()" class="btn btn-dark mx-1"><i class="fa fa-check"></i> Update Order</button> -->
        <button (click)="onBtnExport()" class="btn btn-outline-info mx-1"><i class="fas fa-file-excel"></i> Excel</button>
      </div>
  
      <div class="col-lg-12">
        <ag-grid-angular style="width: 100%; height: 75vh;" class="ag-theme-alpine" [rowData]="lstDepartment"
          [columnDefs]="columnDefs" [gridOptions]="gridOptions" (selectionChanged)="onSelect()"
          (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
    </div>
  </div>