<div class="container-fluid">
    <app-page-title title="Organization Administrative Unit Map Works"></app-page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-1">
                <div class="card-body">
                    <!-- <h4 class="card-title">Create User</h4> -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3 row">
                                <label for="Organization" class="col-md-4 col-form-label">Organization Name</label>
                                <div class="col-md-8">
                                    <select class="form-select" id="Organization" (change)="load_country()"
                                        [(ngModel)]="selectedOrganization.organizationID">
                                        <option value="0">Select Any</option>
                                        <option *ngFor="let org of lstOrganization" value="{{org.organizationID}}">
                                            {{org.organizationName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="d-flex justify-content-between mt-2" *ngIf="selectedOrganization.organizationID>0">
                                <div>
                                    <label for=""><strong>Organization Type :</strong> {{organizationTypeName}}</label>
                                </div>
                                <div>
                                     <label for=""><strong>Short Name :</strong> </label>
                                </div>
                                <div>
                                    <label for=""><strong>Organization Address :</strong> {{organizationAddress}} </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ngb-accordion class="range-accordion mapping-accordion" activeIds="{{activePanel}}" >
                <ngb-panel id="countryPannelID">
                    <ng-template ngbPanelTitle >
                        <div class="d-flex justify-content-between">
                            <div class="d-flex title-text" style=" color: #1c2128;">Country List</div>
                            <div class="d-flex">

                            </div>
                            <div class="d-flex">
                                <span *ngIf="pageModel.totalCountryChecked">Total Check :  {{pageModel.totalCountryChecked}}</span>
                                <span *ngIf="pageModel.totalCountry" class="ms-5 me-5">Total : {{pageModel.totalCountry}}</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent id="countryPannelID">

                        <div class="row">
                            <div class="col-md-1 text-end">
                                <div class="checkAll mt-2">
                                    <input type="checkbox" (click)="checkAll(lstCountry, country_gridOptions, pageModel.isCheckAll_Country)" [(ngModel)]="pageModel.isCheckAll_Country" id="checkAllCountry"> <label for="checkAllCountry">&nbsp; Check All</label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine"
                                    [rowData]="lstCountry" [columnDefs]="country_columnDefs"
                                    [gridOptions]="country_gridOptions" (selectionChanged)="onSelect(1)"
                                    (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
                                </ag-grid-angular>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="mt-5 pt-5 mb-2">
                                    <!-- <button class="btn btn-outline-success">Total <span
                                            class="badge bg-info">{{lstCountry.length}}</span></button> -->
                                </div>
                                <div class="mb-2">
                                    
                                </div>
                                <div class="mb-2">
                                    <!-- save_OrganizationDivisionMap -->
                                    <button class="btn btn-success mb-1" (click)="save_organizationCountryMap()"><i
                                            class="fa fa-check"></i> Save </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="divisionPannelID" (shown)="isExpanded('division')">
                    <ng-template ngbPanelTitle>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex title-text" style=" color: #1c2128;">Division List</div>
                            <div class="d-flex">
                            </div>
                            <div class="d-flex">
                                <span *ngIf="pageModel.totalDivisionChecked">Total Check :  {{pageModel.totalDivisionChecked}}</span>
                                <span *ngIf="pageModel.totalDivision" class="ms-5 me-5">Total : {{pageModel.totalDivision}}</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>

                        <div class="row">
                            <div class="col-md-1 text-end">
                                <div class="checkAll mt-2">
                                    <input type="checkbox" (click)="checkAll(lstDivision, division_gridOptions, pageModel.isCheckAll_Division)" [(ngModel)]="pageModel.isCheckAll_Division"> <label for="">&nbsp; Check All</label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine"
                                    [rowData]="lstDivision" [columnDefs]="division_columnDefs"
                                    [gridOptions]="division_gridOptions" (selectionChanged)="onSelect(2)"
                                    (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
                                </ag-grid-angular>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="mt-5 pt-5 mb-2">
                                    <!-- <button class="btn btn-outline-success">Total <span
                                            class="badge bg-info">{{lstDivision.length}}</span></button> -->
                                </div>
                                <div class="mb-2">
                                    <button class="btn btn-info " (click)="load_division()"><i
                                        class="fa fa-refresh"></i> Load Division</button>
                                </div>
                                <div class="mb-2">
                                    <button class="btn btn-success" (click)="save_OrganizationDivisionMap()"> <i
                                            class="fa fa-save"></i> Save </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="districtPannelID" (shown)="isExpanded('district')">
                    <ng-template ngbPanelTitle>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex title-text" style=" color: #1c2128;">District List</div>
                            <div class="d-flex">

                            </div>
                            <div class="d-flex">
                                <span *ngIf="pageModel.totalDistrictChecked">Total Check :  {{pageModel.totalDistrictChecked}}</span>
                                <span *ngIf="pageModel.totalDistrict" class="ms-5 me-5">Total : {{pageModel.totalDistrict}}</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>

                        <div class="row">
                            <div class="col-md-1 text-end">
                                <div class="checkAll mt-2">
                                    <input type="checkbox" (click)="checkAll(lstDistrict, district_gridOptions, pageModel.isCheckAll_District)" [(ngModel)]="pageModel.isCheckAll_District"> <label for="">&nbsp; Check All</label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine"
                                    [rowData]="lstDistrict" [columnDefs]="district_columnDefs"
                                    [gridOptions]="district_gridOptions" (selectionChanged)="onSelect(4)"
                                    (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
                                </ag-grid-angular>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="mt-5 pt-5 mb-2">
                                    <!-- <button class="btn btn-outline-success">Total <span
                                            class="badge bg-info">{{lstDistrict.length}}</span></button> -->
                                </div>
                                <div class="mb-2">
                                    
                                    <button class="btn btn-info " (click)="load_district()"><i
                                        class="fa fa-refresh"></i> Load District</button>
                                </div>
                                <div class="mb-2">

                                    <button class="btn btn-success" (click)="saveOrganizationDistrictMap()"> <i
                                            class="fa fa-save"></i> Save </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="upazilaPannelID" (shown)="isExpanded('upazila')">
                    <ng-template ngbPanelTitle>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex title-text" style=" color: #1c2128;">Upazila/ City Corporation
                                List</div>
                            <div class="d-flex">

                            </div>
                            <div class="d-flex">
                                <span *ngIf="pageModel.totalUpazilaChecked">Total Check :  {{pageModel.totalUpazilaChecked}}</span>
                                <span *ngIf="pageModel.totalUpazila" class="ms-5 me-5">Total : {{pageModel.totalUpazila}}</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col-md-1 text-end">
                                <div class="checkAll mt-2">
                                    <input type="checkbox" (click)="checkAll(lstUpazilaCityCorporation, upazila_gridOptions, pageModel.isCheckAll_Upazila)" [(ngModel)]="pageModel.isCheckAll_Upazila"> <label for="">&nbsp; Check All</label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine"
                                    [rowData]="lstUpazilaCityCorporation" [columnDefs]="upazila_columnDefs"
                                    [gridOptions]="upazila_gridOptions" (selectionChanged)="onSelect(4)"
                                    (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
                                </ag-grid-angular>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="mt-5 pt-5 mb-2">
                                    <!-- <button class="btn btn-outline-success">Total <span
                                            class="badge bg-info">{{lstUpazilaCityCorporation.length}}</span></button> -->
                                </div>
                                <div class="mb-2">
                                    <button class="btn btn-info " (click)="load_upazila()"><i class="fa fa-refresh"></i>
                                        Load Upazila/ City Corporation</button>
                                </div>
                                <div class="mb-2">

                                    <button class="btn btn-success" (click)="save_organizationUpazilaCityCorporationMap()"> <i
                                            class="fa fa-save"></i> Save </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="thanaPannelID" (shown)="isExpanded('thana')">
                    <ng-template ngbPanelTitle>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex title-text" style=" color: #1c2128;">Thana List</div>
                            <div class="d-flex">

                            </div>
                            <div class="d-flex">
                                <span *ngIf="pageModel.totalThanaChecked">Total Check :  {{pageModel.totalThanaChecked}}</span>
                                <span *ngIf="pageModel.totalThana" class="ms-5 me-5">Total : {{pageModel.totalThana}}</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col-md-1 text-end">
                                <div class="checkAll mt-2">
                                    <input type="checkbox" (click)="checkAll(lstThana, thana_gridOptions, pageModel.isCheckAll_Thana)" [(ngModel)]="pageModel.isCheckAll_Thana"> <label for="">&nbsp; Check All</label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine"
                                    [rowData]="lstThana" [columnDefs]="thana_columnDefs"
                                    [gridOptions]="thana_gridOptions" (selectionChanged)="onSelect(4)"
                                    (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
                                </ag-grid-angular>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="mt-5 pt-5 mb-2">
                                    <!-- <button class="btn btn-outline-success">Total <span
                                            class="badge bg-info">{{lstThana.length}}</span></button> -->
                                </div>
                                <div class="mb-2">
                                    
                                    <button class="btn btn-info " (click)="load_thana()"><i class="fa fa-refresh"></i>
                                        Load Thana</button>
                                </div>
                                <div class="mb-2">

                                    <button class="btn btn-success" (click)="save_OrganizationThanaMap()"> <i
                                            class="fa fa-save"></i> Save </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="unionPannelID" (shown)="isExpanded('union')">
                    <ng-template ngbPanelTitle>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex title-text" style=" color: #1c2128;">Union / Ward List</div>
                            <div class="d-flex">

                            </div>
                            <div class="d-flex">
                                <span *ngIf="pageModel.totalUnionChecked">Total Check :  {{pageModel.totalUnionChecked}}</span>
                                <span *ngIf="pageModel.totalUnion" class="ms-5 me-5">Total : {{pageModel.totalUnion}}</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col-md-1 text-end">
                                <div class="checkAll mt-2">
                                    <input type="checkbox" (click)="checkAll(lstUnionWard, union_gridOptions, pageModel.isCheckAll_Union)" [(ngModel)]="pageModel.isCheckAll_Union"> <label for="">&nbsp; Check All</label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine"
                                    [rowData]="lstUnionWard" [columnDefs]="union_columnDefs"
                                    [gridOptions]="union_gridOptions" (selectionChanged)="onSelect(5)"
                                    (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
                                </ag-grid-angular>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="mt-5 pt-5 mb-2">
                                    <!-- <button class="btn btn-outline-success">Total <span
                                            class="badge bg-info">{{lstUpazilaCityCorporation.length}}</span></button> -->
                                </div>
                                <div class="mb-2">
                                    
                                    <button class="btn btn-info " (click)="load_union()"><i class="fa fa-refresh"></i>
                                        Load Union/ Ward</button>
                                </div>
                                <div class="mb-2">

                                    <button class="btn btn-success" (click)="save_OrganizationUnionWardMap()"> <i
                                            class="fa fa-save"></i> Save </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="villagePannelID" (shown)="isExpanded('village')">
                    <ng-template ngbPanelTitle>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex title-text" style=" color: #1c2128;">Village / Area List</div>
                            <div class="d-flex">

                            </div>
                            <div class="d-flex">
                                
                                <span *ngIf="pageModel.totalVillageChecked">Total Check :  {{pageModel.totalVillageChecked}}</span>
                                <span *ngIf="pageModel.totalVillage" class="ms-5 me-5">Total : {{pageModel.totalVillage}}</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col-md-1 text-end">
                                <div class="checkAll mt-2">
                                    <input type="checkbox" (click)="checkAll(lstVillageArea, villageArea_gridOptions, pageModel.isCheckAll_Village)" [(ngModel)]="pageModel.isCheckAll_Village"> <label for="">&nbsp; Check All</label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine"
                                    [rowData]="lstVillageArea" [columnDefs]="villageArea_columnDefs"
                                    [gridOptions]="villageArea_gridOptions" (selectionChanged)="onSelect(6)"
                                    (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
                                </ag-grid-angular>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="mt-5 pt-5 mb-2">
                                    <!-- <button class="btn btn-outline-success">Total <span
                                            class="badge bg-info">{{lstUpazilaCityCorporation.length}}</span></button> -->
                                </div>
                                <div class="mb-2">
                                    
                                    <button class="btn btn-info " (click)="load_villageArea()"><i
                                        class="fa fa-refresh"></i>
                                    Load Village / Area</button>
                                </div>
                                <div class="mb-2">

                                    <button class="btn btn-success" (click)="save_OrganizationVillageAreaMap()"> <i
                                            class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="paraPannelID" (shown)="isExpanded('para')">
                    <ng-template ngbPanelTitle>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex title-text" style=" color: #1c2128;">Para List</div>
                            <div class="d-flex">

                            </div>
                            <div class="d-flex">
                                <span *ngIf="pageModel.totalParaChecked">Total Check :  {{pageModel.totalParaChecked}}</span>
                                <span *ngIf="pageModel.totalPara" class="ms-5 me-5">Total : {{pageModel.totalPara}}</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col-md-1 text-end">
                                <div class="checkAll mt-2">
                                    <input type="checkbox" (click)="checkAll(lstPara, para_gridOptions, pageModel.isCheckAll_Para)" [(ngModel)]="pageModel.isCheckAll_Para"> <label for="">&nbsp; Check All</label>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine"
                                    [rowData]="lstPara" [columnDefs]="para_columnDefs"
                                    [gridOptions]="para_gridOptions" (selectionChanged)="onSelect(6)"
                                    (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
                                </ag-grid-angular>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="mt-5 pt-5 mb-2">
                                    <!-- <button class="btn btn-outline-success">Total <span
                                            class="badge bg-info">{{lstPara.length}}</span></button> -->
                                </div>
                                <div class="mb-2">
                                    
                                    <button class="btn btn-info " (click)="load_Para()"><i
                                        class="fa fa-refresh"></i>
                                    Load Para</button>
                                </div>
                                <div class="mb-2">
                                    <button class="btn btn-success" (click)="save_OrganizationParaMap()"> <i
                                            class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>