<ng-template #modalUpazilaCityCorporation let-modal>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Upazila/City Corporation Information</h4>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="mb-2 row">
          <label for="upazilaCityCorporationID" class="col-md-5 col-form-label">District</label>
          <div class="col-md-7">
            <select id="upazilaCityCorporationID" class="form-select"
              [(ngModel)]="selectedUpazilaCityCorporation.districtUpazilaCityCorporationMap.districtID"
              formControlName="districtID">
              <option *ngFor="let district of lstDistrict" [value]="district.districtID">{{district.districtName}}
              </option>
            </select>
          </div>
        </div>
        <div class="mb-2 row">
          <label for="upazilaCityCorporationName" class="col-md-5 col-form-label">Upazila/City Corporation Name</label>
          <div class="col-md-7">
            <input id="upazilaCityCorporationName" class="form-control" type="text"
              [(ngModel)]="selectedUpazilaCityCorporation.upazilaCityCorporationName"
              formControlName="upazilaCityCorporationName">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="upazilaCityCorporationName" class="col-md-5 col-form-label">Upazila/City Corporation Code</label>
          <div class="col-md-7">
            <input id="upazilaCityCorporationName" class="form-control" type="text"
              [(ngModel)]="selectedUpazilaCityCorporation.upazilaCityCorporationCode"
              formControlName="upazilaCityCorporationCode">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="upazilaCityCorporationNameBangla" class="col-md-5 col-form-label">Upazila/City Corporation Name
            (বাংলা)</label>
          <div class="col-md-7">
            <input id="upazilaCityCorporationNameBangla" class="form-control" type="text"
              [(ngModel)]="selectedUpazilaCityCorporation.upazilaCityCorporationNameBangla"
              formControlName="upazilaCityCorporationNameBangla">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="Status" class="col-md-5 col-form-label">Is Upazila</label>
          <div class="col-md-7">
            <div class="form-check form-switch form-switch-md mb-3">
              <input class="form-check-input" type="checkbox" [(ngModel)]="selectedUpazilaCityCorporation.isUpazila"
                id="Status" formControlName="isUpazila">
            </div>
          </div>
        </div>
        <div class="mb-2 row">
          <label for="Status" class="col-md-5 col-form-label">Status</label>
          <div class="col-md-7">
            <div class="form-check form-switch form-switch-md mb-3">
              <input class="form-check-input" type="checkbox"
                [(ngModel)]="selectedUpazilaCityCorporation.districtUpazilaCityCorporationMap.isActive" id="Status"
                formControlName="isActive">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modalClose()"><i class="fas fa-times"></i>
        Close</button>
      <button type="button" type="submit" *ngIf="!selectedUpazilaCityCorporation.upazilaCityCorporationID"
        [disabled]="!reactiveForm.valid" class="btn btn-success"><i class="fas fa-save"></i>
        Save</button>
      <button type="button" type="submit" *ngIf="selectedUpazilaCityCorporation.upazilaCityCorporationID>0"
        [disabled]="!reactiveForm.valid" class="btn btn-success"><i class="fas fa-save"></i>
        Update</button>
    </div>
  </form>

</ng-template>

<div class="container-fluid">
  <app-page-title title="Upazila/City Corporation List"></app-page-title>
  <div class="row">
    <div class="col-md-12">
      <div class="filter-section">
        <div class="row">
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row align-items-center">
                  <label class="col-md-5 control-label">Country :</label>
                  <div class="col-md-7">
                    <select class="form-select" name="" id="" (change)="filter(1); getDivisionListByCountry()"
                      [(ngModel)]="queryObject.countryID">
                      <option value="0">All</option>
                      <option *ngFor="let obj of lstCountry" [value]="obj.countryID">{{obj.countryName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row align-items-center">
                  <label class="col-md-5 control-label">Division :</label>
                  <div class="col-md-7">
                    <select class="form-select" name="" id="" (change)="filter(2); getDistrictListByDivision()"
                      [disabled]="!queryObject.countryID || queryObject.countryID == 0"
                      [(ngModel)]="queryObject.divisionID">
                      <option value="0">All</option>
                      <option *ngFor="let obj of getDivisionListByCountry()" [value]="obj.divisionID">
                        {{obj.divisionName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row align-items-center">
                  <label class="col-md-5 control-label">District :</label>
                  <div class="col-md-7">
                    <select class="form-select" name="" id="" (change)="filter(3)"
                      [disabled]="!queryObject.countryID || queryObject.countryID == 0 || !queryObject.divisionID || queryObject.divisionID == 0"
                      [(ngModel)]="queryObject.districtID">
                      <option value="0">All</option>
                      <option *ngFor="let obj of getDistrictListByDivision()" [value]="obj.districtID">
                        {{obj.districtName}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1 text-end">
            <button class="btn btn-outline-secondary btn-sm rounded fs-6" title="Reset" (click)="reset()"><i
                class="fs-6 fa fa-retweet"></i> Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row my-2">
        <div class="col-md-3">
          <a> Total Entry : <span class="badge bg-secondary p-2">{{lstUpazilaCityCorporation.length}}</span></a>
        </div>
        <div class="col-md-9 text-end">
          <button (click)="add()" class="btn btn-success me-1"><i class="fa fa-plus"></i> Add New</button>
          <button *ngIf="selectedUpazilaCityCorporation.upazilaCityCorporationID > 0" (click)="edit()"
            class="btn btn-primary mx-1"><i class="fa fa-edit"></i> Edit UpazilaCityCorporation</button>
          <button *ngIf="selectedUpazilaCityCorporation.upazilaCityCorporationID > 0" (click)="remove()"
            class="btn btn-danger mx-1"><i class="fa fa-minus"></i> Delete UpazilaCityCorporation</button>
          <button (click)="onBtnExport()" class="btn btn-outline-dark mx-1"><i class="fas fa-file-excel"></i>
            Excel</button>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <ag-grid-angular style="width: 100%; height: 75vh;" class="ag-theme-alpine" [rowData]="lstUpazilaCityCorporation"
        [columnDefs]="columnDefs" [gridOptions]="gridOptions" (selectionChanged)="onSelect()"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>